@import "~bootstrap/scss/bootstrap";

.row {
  min-height: 160px;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
}


.bg-image-01 {
  background-image: url('/images/banner-background-01.png');
  background-repeat: repeat-x;
}

.bg-image-02 {
  background-image: url('/images/banner-background-02.png');
  background-repeat: repeat-x;
}

.bg-image-03 {
  background-image: url('/images/banner-background-03.png');
  background-repeat: repeat-x;
}

.bg-image-04 {
  background-image: url('/images/banner-background-04.png');
  background-repeat: repeat-x;
}

.bg-image-05 {
  background-image: url('/images/banner-background-05.png');
  background-repeat: repeat-x;
}

.bg-image-06 {
  background-image: url('/images/banner-background-06.png');
  background-repeat: repeat-x;
}

.bg-image-07 {
  background-image: url('/images/banner-background-07.png');
  background-repeat: repeat-x;
}

.bg-image-08 {
  background-image: url('/images/banner-background-08.png');
  background-repeat: repeat-x;
}

.bg-image-09 {
  background-image: url('/images/banner-background-09.png');
  background-repeat: repeat-x;
}

.footer {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}