@import "~bootstrap/scss/bootstrap";

.row {
  min-height: 200px;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
}


.bg-image {
  background-image: url('/images/banner-background-03.png');
  background-repeat: repeat-x;
}

.bg-image-03 {
  background-image: url('/images/banner-background-03.png');
  background-repeat: repeat-x;
}

.bg-image-04 {
  background-image: url('/images/banner-background-04.png');
  background-repeat: repeat-x;
}

.footer {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}