@import "~bootstrap/scss/bootstrap";

.active {
    text-decoration: none;
}

div {
    margin-left: 12px;
    margin-top: 8px;
}

.blog-header {
    margin-bottom: 4px;
    margin-left: 8px;
}

.blog-entry {
    margin-top: 4px;
}

.jumbotron {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 200px;
}

.heading {
    background-color: black;
    color:darkgray;
    padding: 0.50em 1.0em 0.50em 1.0em;
}

.heading-hidden {
    z-index: -1;
    padding: 1.0em 1.0em 1.0em 1.0em;
}

