@import "~bootstrap/scss/bootstrap";


.formElement {
  margin-left: 1em;
  margin-right: 1em;
}

.labelElement {
  margin-right: 0.5em;
}

.submitButton {
  margin-left: 1.5em;
}

.score-link {
  color:darkslateblue !important;
  text-decoration: none;
}
