@import "~bootstrap/scss/bootstrap";

.rendered-melody {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  padding: 2px;
}

a:link {
  color:darkslateblue;
}

a:visited {

}

a:focus {
  color:crimson;

}

a:hover {
  color:darkslateblue;
  background-color:antiquewhite;
  border-radius: 2px;
}

a:active {
  color:crimson;
}
