@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/bootstrap";

.blog-entry {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: rgb(240, 233, 233);
  //font-weight: bolder;
  border-radius: 8px;
}

.blog-title {
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bolder;
  min-height: 12px;
  padding-top: 1em;
  padding-left: 1em;
}

.blog-content {
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin-right: 1em;
  margin-left: 1em;
}

a {
  text-decoration: none;
  padding: 2px;
}

a:link {
  color:darkslateblue;
}

a:visited {

}

a:focus {
  color:crimson;

}

a:hover {
  color:darkslateblue;
  background-color:antiquewhite;
  border-radius: 2px;
}

a:active {
  color:crimson;
}

.score-link {
  color:darkslateblue !important;
  text-decoration: none;
}
