@import "~bootstrap/scss/bootstrap";

.brand-text {
    margin-left: 4rem;
    margin-top: -3.2rem;
    font-weight: 700;
  }
  .nav-link {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
  }
  .nav-link:hover,
  .nav-link:focus {
    background-color: #606266;
    color: #212529 !important;
    border-radius: 4px;
  }

  
