@import "~bootstrap/scss/bootstrap";

.repo-item {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border-radius: 4px;
  height: 32px;
  color: darkviolet;
}

a {
  text-decoration: none;
  padding: 2px;
}

a:link {
  color:darkslateblue;
}

a:visited {

}

a:hover {
  color:darkslateblue;
  border-radius: 2px;
}

.score-link {
  color:darkslateblue !important;
  text-decoration: none;
}
